<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e_epick" >

  <!-- ur5e with epick -->
  <xacro:include filename="$(find lab09_gazebo)/urdf/inc/ur5e_epick.urdf.xacro" />

  <!-- Root link -->
  <link name="world" />

  <!-- fix robot to world -->
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.8 0.0 0.775" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
